@{
    ViewBag.Title = "Login Failure.";
}
<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>@ViewBag.Title</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<div class="spacing"></div>
<div>
    <br />
    <center>
        <hgroup>
            <h4 class="text-danger">
                Unsuccessful login with service.
            </h4>
        </hgroup>
    </center>
    <br />
    <br />
    <br />
</div>