@{
    ViewBag.Title = "Reset Password Confirmation.";
}
<!-- *****************************************************************************************************************
    BLUE WRAP
    ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>@ViewBag.Title</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<div class="spacing"></div>

<div>
    <br />
    <center>
        <h4>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h4>
    </center>
    <br />
    <br />
    <br />
</div>