
@{
    ViewBag.Title = "Factorial";
}

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>Factorial</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->
<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->
    <div class="container mt">
        <a class="navbar-right" href="@Url.Action("JavaSCriptExercises","CodingExercises")">JavaScript Exercises</a>
        <div class="row">
            @{Html.RenderPartial("FactorialPartial");}
            <div class="col-lg-4 col-lg-offset-1">
                <div class="spacing"></div>
                <h4>Project Details</h4>
                <div class="hline"></div>
                <p><b>Date:</b> July 8, 2015</p>
                <p><b>Author:</b> Shane Overby</p>
                <p><b>Categories:</b> JavaScript, jQuery</p>
                <p><b>Tagged:</b> Development</p>
                <p><b>Client:</b> CoderFoundry</p>
                <p><b>Website:</b> <a href="https://azure.microsoft.com/en-us/pricing/free-trial/?WT.mc_id=azurebg_US_sem_google_BR_BRTop_Nontest_FreeTrial_azure&WT.srch=1">Site will be hosted by Azure</a></p>
            </div>
        </div><! --/row -->
    </div><! --/container -->

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
    <div id="portfoliowrap">
        <div class="portfolio-centered">
            <h3>Related Works.</h3>
            <div class="recentitems portfolio">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/img/portfolio/portfolio_09.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_09.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item web-design">
                    <div class="he-wrap tpl6">
                        <img src="~/img/portfolio/portfolio_02.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
                                <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_02.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/img/portfolio/portfolio_03.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_03.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/img/portfolio/portfolio_04.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_04.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="~/img/portfolio/portfolio_05.jpg" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_04.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
    </div><!--/Portfoliowrap -->

@section scripts {
<script src="~/Scripts/Portfolio.js"></script>
<script src="~/Scripts/CodingExercises/Factorial.js"></script>
}