<div class="col-lg-6 col-lg-offset-1">
    <h4>Armstrong Numbers</h4>
    <h4>Directions:</h4>
    <p>
        Write a program to find all three-digit Armstrong numbers. An Armstrong number is an integer such that
        the sum of the cubes of its digits is equal to the number itself. (i.e. 371 is an Armstrong number since 33 +
        73 + 13 = 371.
    </p>
    <div class="left">
        <aside>
            <input type="text" required id="armInput" />
            <button id="getArmstrong">Check your number</button>
            <div id="armResult"></div>
        </aside>
    </div>
    <div class="right">
        <aside>
            <button id="allArmstrong">View All Armstrong Numbers from 100 to 1,000</button>
            <div id="armArea">
                <p id="armDisplayAll" style="word-wrap: break-word"></p>
            </div>
        </aside>
    </div>
</div>