<div class="col-lg-5 col-lg-offset-1">
    <div class="spacing"></div>
    <h4>Factorial</h4>
    <h4>Directions:</h4>
    <p>
        Write a program that calculates the factorial of a number. The factorial of a non-negative integer n is the
        product of all positive integers less than or equal to n. (i.e. 5! = 5 x 4 x 3 x 2 x 1 = 120).
    </p>
    <input id="facInput" type="number" required />

    <button id="getFactorial">Get Factorial!</button>

    <p>The factorial of your number is: <span id="facResult"></span></p>
</div>