    <h4>FizzBuzz</h4>
    <h4>Directions:</h4>
    <p>
        Write a program that iterates the integers from 1 to 100, printing the numbers to the screen. For each
        number that is a multiple of three, however, print "Fizz" instead of the number. For multiples of five print
        "Buzz" instead of the number. For numbers that are multiples of both three and five print "FizzBuzz."
    </p>
    <button id="fbButton">FizzBuzz!</button>

    <div id="fbArea">

    </div>