<div class="col-lg-6 col-lg-offset-1">
    <h4>Happy Numbers</h4>
    <h4>Directions:</h4>
    <p>
        Write a program to display the first 5 Happy Numbers. Happy numbers are those that can be reduced to
        1 through the following process – Start with any positive integer, replace the number with the sum of the
        squares of its digits, and repeat until the result is 1 or the result is an endless loop.
    </p>
    <p>I have written the function so that you may check any number you would like.</p>
    <input id="hnInput" type="text" placeholder="Enter A Number To Check" size="22"/>
    <button id="getHappy">Get Happy!</button>
    <div id="hnResult"></div>
</div>