    <h4>Long Words</h4>
    <h4>Directions:</h4>
    <p>
        Directions go here.Write a function filterLongWords() that finds and displays all words that are longer than a given integer i
        in a selected text file. Do not display words more than once.
    </p>
    <input type="text" required id="lwStringLength" />Enter the number that you want your words to be longer than.
    <input type="file" id="lwInput" />
    <div id="lwDescript">These are the words that have more than <span id="lwOutLong"></span> characters: <span id="lwResult"></span></div>