<div class="col-lg-5 col-lg-offset-1">
    <div class="spacing"></div>
    <h4>Longest Word</h4>
    <h4>Directions:</h4>
    <p>Write a function findLongestWord() that finds and displays the longest word in a selected text file.</p>
    <input type="file" id="estInput" />
    <hr />
    <div>Longest Word(s) in this text file: <span id="estResult"></span></div>
    <pre id="estDisplay"></pre>
    <div id="estRebuild"></div>
</div>