    <h4>Palindrome</h4>
    <h4>Directions:</h4>
    <p>
        Define a function palindrome() that computes the reversal of a string, returning true if the string is a
        palindrome (the same forwards and backwards – “radar” for example), and false if otherwise.
    </p>
    <input type="text" id="palInput" />
    <button id="checkPalindrome">Check the word</button>
    <div id="palResult"></div>