<div class="col-lg-5 col-lg-offset-1">
    <div class="spacing"></div>
    <h4>Perfect Numbers</h4>
    <h4>Directions:</h4>
    <p>
        Perfect Numbers: In number theory, a perfect number is a positive integer that is equal to the sum of its
        proper positive divisors, that is, the sum of its positive divisors excluding the number itself. The first perfect number is 6 – its positive divisors (excluding itself) are 1, 2, and 3, whose sum is 6.<br /><br />a. Write a function that determines whether a given number is ‘perfect.’
        <br /><br />b. Write a function to display all perfect numbers between 1 and 10,000.
    </p>
    <div class="left">
        <aside>
            <input id="pnInput" type="text" required style="width: 50px;" /><button id="checkPefect">Check Perfection!</button>
            <p id="pnOutputTag">Is your number a perfect number? <span id="pnResult"></span></p>
        </aside>
    </div>

    <div class="right">
        <aside>
            <button id="allPerfect">View All Perfect Numbers from 1 to 10,000</button>
            <div id="perArea">
                <p id="displayAllPerfect" style="word-wrap: break-word"></p>
            </div>
        </aside>
    </div>
</div>