    <h4>SumMultiply</h4>
    <h4>Directions:</h4>
    <p>Define a function sum() and a function multiply() that sums and multiplies (respectively) all the numbers in an array of numbers.</p>
    <div id="input">
        <input type="text" required />
    </div>

    <p>
        <button id="sumMultiplyButton" style="margin-top: 10px">Get Sum/Product</button>
    </p>

    <p class="output"><span id="result"></span></p>