    <h4>Word Find</h4>
    <h4>Directions:</h4>
    <p>
        Write a function findWord() that returns the total number of occurrences of a given word in a selected
        text file (i.e. the number of occurrences of “Alice” in the first chapter of Alice in Wonderland).
    </p>
    <input type="text" id="wfWord" />
    <input type="file" id="wfInput" />
    <div id="wfOutput">Your word was found <span id="wfResult"></span> time(s) in this text file.</div>