    <h4>WordFrequency</h4>
    <h4>Directions:</h4>
    <p>
        Write a function wordFreq() that displays a frequency listing of the words contained in a selected text
        file. Order the words by frequency.
    </p>
    <input type="file" id="freqInput" />
    <table id="freqMyTable">
        <thead>
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody id="freqBody"></tbody>
    </table>