@{
    ViewBag.Title = "About";   
    
}
<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>About.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
 AGENCY ABOUT
 ***************************************************************************************************************** -->
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="~/img/agency.jpg" alt=""/>
        </div>

        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>Thanks for taking the time to learn more about me. I am a North Carolina native. I grew up and still live in the beautiful town
            of Mocksville, just outside the Winston-Salem area. I have been married to my wonderful wife, Elizabeth, for going on twelve years.
            We have two amazing little girls, Samantha and Lucy. </p>
            <p>In my free time I enjoy playing with my children, reading historical fiction novels and biographies, attempting to be a
            guitarist and spending time outdoors, camping and fishing. </p>
            <p>I have spent the past decade in the machining industry. I worked my way from machine operation into CNC programming, engineering 
            and supervision. I was introduced to software/web development in early 2014. Since that time I have engulfed myself in 
            the massive amounts of resources available for learning the many aspects of development. I hope to begin my career in development 
            as a back-end programmer, although, I do very much enjoy the front-end work as well.</p>
            <p><br /><a href="@Url.Action("Contact","Home")" class="btn btn-theme">Contact Shane</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
@*
    <!-- *****************************************************************************************************************
     TEEAM MEMBERS
     ***************************************************************************************************************** -->
    <div class="container mtb">
        <div class="row centered">
            <h3 class="mb">MEET OUR TEAM</h3>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="~/img/team/team01.jpg" alt=""/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>Mark Webber</h4>
                <h5 class="ctitle">CEO</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="~/img/team/team02.jpg" alt=""/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>Paul Jameson</h4>
                <h5 class="ctitle">LEAD DESIGNER</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="~/img/team/team03.jpg" alt=""/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>Laura Sommers</h4>
                <h5 class="ctitle">LEAD DEVELOPER</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="he-wrap tpl6">
                    <img src="~/img/team/team04.jpg" alt=""/>
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                        </div><!-- he bg -->
                    </div><!-- he view -->
                </div><!-- he wrap -->
                <h4>Martin Blunt</h4>
                <h5 class="ctitle">MARKETING</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="hline"></div>
            </div><! --/col-lg-3 -->

        </div><! --/row -->
    </div><! --/container -->*@