@{
    ViewBag.Title = "About";

    string someThing = "Something";
    
    
}
<h2>About Shane Overby</h2>
<h3>A brief history -</h3>

<p>I am a North Carolina native. I am twenty-nine years old. Elizabeth, my wife, and I have been married for twelve years.
     We have two daughters, Samantha and Lucy. I have been working the past decade as a machinist/programmer. I have been 
    learning software/web development for the past year and am looking to break into that workforce market as a real asset.</p>


