
@{
    ViewBag.Title = "Clean";
}

<h2>Clean</h2>

<br />
<br />
<br />
<br />
<br />
<br /><div class="portfolio-item web-design">
    <div class="he-wrap tpl6">
        <img src="~/img/portfolio/SumMultiply.png" alt="" />
        <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">SumMultiply</h3>
                <!---<span data-toggle="modal" data-target="#sumMultiply">
                    <a data-toggle="popover" title="" data-content="Demo" data-animate="fadeInUp"
                       data-trigger="hover" data-placement="bottom" class="dmbutton a2"><i class="fa fa-search"></i></a>
                </span>-->
                <a href="@Url.Action("SumMultiply","CodingExercises")" class="dmbutton a2" data-animate="fadeInUp"
                   data-toggle="popover" title="" data-content="View Code"
                   data-trigger="hover" data-placement="top"><i class="fa fa-link"></i></a>
            </div><!-- he bg -->
        </div><!-- he view -->
    </div><!-- he wrap -->
</div><!-- end col-12 -->
<div id="sumMultiply"></div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />