@{
    ViewBag.Title = "Contact";
}
@Layout = null;
<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Contact.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
 CONTACT WRAP
 ***************************************************************************************************************** -->
<div id="contactwrap">

    <!-- *****************************************************************************************************************
     CONTACT FORMS
     ***************************************************************************************************************** -->
    <div class="container mtb">
        <div class="row">
            <div class="col-lg-8">
                <h4>What can I help you with?</h4>
                <div class="hline"></div>
                <p>@ViewBag.Messagesent</p>
                <form action="@Url.Action("Contact", "Home")" method="post" role="form">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="Name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="Name">
                    </div>
                    <div class="form-group">
                        <label for="FromEmail">Email address</label>
                        <input type="email" class="form-control" id="fromEmail" name="FromEmail">
                    </div>
                    <div class="form-group">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" id="subject" name="Subject">
                    </div>
                    <div class="form-group">
                        <label for="Message">Message</label>
                        <textarea class="form-control" id="message" rows="3" name="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-theme">Submit</button>
                </form>
            </div><! --/col-lg-8 -->

            <div class="col-lg-4">
                <h4>Be In Touch</h4>
                <div class="hline"></div>
                <p>
                    Please use the contact form on the left side if you have any questions or requests, concerning my availability and/or services.
                    I will respond to your message within 24 hours
                </p>
                <p>
                    Email: dsoverby1986@gmail.com<br />
                    Tel: (336) 251-2173
                </p>
                <p>
                    Mocksville, NC 27028<br />
                    United States<br />
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div>