@{
    ViewBag.Title = "Resume";
}

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Resume</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<div class="container" >
            <section class="experience section col-md-8 col-md-offset-2" >
                <div class="section-inner">
                <h3><a href="~/Resume/shane_overby_resume.pdf" target="_blank">View Full Resume</a></h3>
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Student - <span class="place"><a href="http://www.coderfoundry.com/" target="_blank">Coder Foundry</a></span> <span class="year">(July 2015 - Present)</span></h3>
                            <p>While at Coder Foundry I built two C# ASP.NET MVC 5 projects. This personal site was the first project. I also created a <a href="http://dsoverby-bugtracker.azurewebsites.net" target="_blank">BugTracker</a> web application. I also developed two AngularJS projects. The first is a <a href="http://carfinderso.azurewebsites.net" target="_blank">CarFinder</a> application and the other is a <a href="http://dsomoney.azurewebsites.net" target="_blank">Household Budgeting</a> application.</p>
                        </div><!--//item-->
                    <div class="hline resumeLine"></div>
                            <div class="item">
                                <h3 class="title">Production Supervisor/CNC Programmer/Engineering Technician - <span class="place"><a href="http://www.jrmonline.com/" target="_blank">JRM, Inc.</a></span> <span class="year">(February 2015 - June 2015, October 2011 - February 2013)</span></h3>
                                    <p>My time spent at JRM gave me a real sense of the resposibilies that come with supervision and introduced me
                                to the world of professional mechanical and manufacturing engineering.</p>
                            </div><!--//item-->
                        <div class="hline resumeLine"></div>
                    <div class="item">
                        <h3 class="title">CNC Programmer/Machinist - <span class="place"><a href="http://www.haywardflowcontrol.com/shop/en/flow-control" target="_blank">Hayward Industries</a></span> <span class="year">(June 2010-November 2011, February 2013-February 2015)</span></h3>
                        <p>During my time at Hayward Industries I worked as a CNC Programmer, setup technician and machine operator. As with any 
                        position as a machinist, troubleshooting skills were a must.</p>
                    </div><!--//item-->
                        <div class="hline resumeLine"></div>
                    <div class="item">
                        <h3 class="title">Machinist - <span class="place"><a href="http://company.ingersollrand.com/ircorp/en/index.html" target="_blank">Ingersoll Rand</a></span> <span class="year">(May 2008-February 2009)</span></h3>
                        <p>While at Ingersoll Rand, I learned about the concepts and benefits of <a href="http://www.mindtools.com/pages/article/newSTR_44.htm" target="_blank">LEAN manufacturing</a>, 
                        <a href="http://www.epa.gov/lean/environment/methods/fives.htm" target="_blank">5S</a>, 
                            <a href="http://www.isixsigma.com/tools-templates/cause-effect/determine-root-cause-5-whys/" target="_blank">5-Whys</a>, 
                            <a href="http://www.kaizen.com/about-us/definition-of-kaizen.html" target="_blank">Kaizen</a>, 
                            <a href="http://kanbanblog.com/explained/" target="_blank">Kanban</a>, and 
                            <a href="http://www.toyota-global.com/company/vision_philosophy/toyota_production_system/just-in-time.html" target="_blank">JIT manufacturing</a>.</p>
                    </div><!--//item-->
                        <div class="hline resumeLine"></div>
                    <div class="item">
                        <h3 class="title">Machinist - <span class="place"><a href="http://www.kaydonbearings.com/" target="_blank">Kaydon Corp.</a></span> <span class="year">(April 2005-May 2008)</span></h3>
                        <p>My career as a machinist began at Kaydon. This shop gave me a great foundation on which to build my machining 
                        knowledge and provided me with terrific professional contacts and relationships.</p>
                    </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->
</div>