
@{
    ViewBag.Title = "LongWords";
}

<h2>LongWords</h2>

<h4>Directions:</h4>
<p>Write a function filterLongWords() that finds and displays all words that are longer than a given integer i
in a selected text file. Do not display words more than once.</p>