
@{
    ViewBag.Title = "LongestWord";
}

<h2>LongestWord</h2>

<h4>Directions:</h4>
<p>Write a function findLongestWord() that finds and displays the longest word in a selected text file.</p>
<input type="file" id="input" />
<hr />
<div>Longest Word(s) in this text file: <span id="result"></span></div>
<pre id="display"></pre>
<div id="rebuild"></div>@*Have not yet set up code to reconstruct the text after all of the things have been removed. May not.*@

@section scripts {
    <script>
        $(function () {
            var input = $('#input');
            var output = $('#display');
            var result = $('#result');
            var array;
            var collection = [];
            var reader = new FileReader();
        reader.onload = function (evt) {
            output.text("");
            result.text("");//This doesn't clear the <span> element everytime. Need to work on it some more.
            output.text(evt.target.result);
            input = evt.target.result;//
            //As ashamed as I am to admit it, this is the easiest way that I KNOW of to get rid of these characters. Yes, I'm a loser.
            input = input.replace(/\//g, " ");
            input = input.replace(/\\/g, " ");
            input = input.replace(/--/g, " ");
            input = input.replace(/ -/g, " ");
            input = input.replace(/- /g, " ");
            input = input.replace("{", " ");
            input = input.replace("}", " ");
            input = input.replace("=", " ");
            input = input.replace("^", " ");
            input = input.replace("[", " ");
            input = input.replace("]", " ");
            input = input.replace("^", " ");
            input = input.replace(/[.,?#*&%$;<>"+:!,)_/(\s,]/g, " ");
            array = input.split(/\s+/);
            //This loop is to replace apostrophes that occur at the beginning or the end of a string
            for (var i = 0; i < array.length; i++) {
                var elementLength = array[i].length;
                var elementFirst = array[i].charAt(0);
                var elementLast = array[i].charAt(array[i].length - 1);
                if (elementFirst === "'") {
                    array[i] = array[i].replace(array[i].charAt(0), "");
                }
                else if (elementLast === "'") {
                    array[i] = array[i].replace(array[i].charAt(array[i].length - 1), "");
                }
            }
            //This loop will place the appropriate strings into the collection array
            for (var i = 0; i < array.length; i++) {
                if (collection.length === 0) {
                    collection.push(array[0]);
                }
                else {
                    for (var j = 0; j < collection.length; j++) {
                        if (array[i].length > collection[j].length) {
                            collection.splice(0, collection.length, array[i]);
                        }
                        else if (array[i].length === collection[0].length) {
                            collection.push(array[i]);
                            j = collection.length;
                        }
                    }
                }
            }
            //This loop changes all of the strings in the collection array to have all lowercase characters
            for (var i = 0; i < collection.length; i++) {
                collection[i] = collection[i].toLowerCase();
            }
            //This conditional statement and subsequent loop will remove any elements of the collection array that
            //contains the same string as another element in the array
            if (collection.length > 1) {
                for (var i = 0; i < collection.length; i++) {
                    var match = false;
                    if (collection[i] === collection[i + 1]) {
                        collection.splice(i, 1);
                        var match = true;
                    }
                    if (match) {
                        i -= 1;
                    }
                }
            }
            result.text(collection);
        };
        input.change(function (evt) {
            var file = evt.target.files[0];
            reader.readAsText(file);
        });
    });
    </script> 
}