
@{
    ViewBag.Title = "SumMultiply";
}

<h2>SumMultiply</h2>

<h4>Directions:</h4>
<p>
    Define a function sum() and a function multiply() that sums and multiplies (respectively) all the numbers
    in an array of numbers.
</p>

<hr />
<div id="input">
    <input type="text" required style="width: 400px" />
</div>

<p>
    <button id="sumMultiplyButton" style="margin-top: 10px">Get Sum/Product</button>
</p>

<p class="output">
    The sum and product are: <span id="result"></span>
</p>

@section scripts{

<script>

    $(function () {
        // page is ready
        
        //outputTag.closest('.output').hide();

        $('#sumMultiplyButton').click(function sum() {

            var input = $('#input input:valid');

            var container = input.val().split(' ').filter(function (x) { return x !== ''; });

            var outputTag = $('#result');

            var sum = 0;

            var product = 1;

            for (var i = 0; i < container.length; i++) {
                var current = parseInt(container[i]);
                sum += current;
                product *= current;
            }

            outputTag.text(sum + " & " + product);
            outputTag.closest('.output').show();

        });

    });

    </script>

}