
@{
    ViewBag.Title = "WordFind";
}

<h2>WordFind</h2>

<hh4>Directions:</hh4>
<p>Write a function findWord() that returns the total number of occurrences of a given word in a selected
text file (i.e. the number of occurrences of “Alice” in the first chapter of Alice in Wonderland).</p>
<input type="text" id="word" />
<input type="file" id="input" />
<div id="output">Your word was found <span id="result"></span> time(s) in this text file.</div>
<pre id="display"></pre>
@section scripts {
    <script>
        $(function () {
            var input = $('#input');
            var output = $('#display');
            var result = $('#result');
            var text = "";
            var reader = new FileReader();
            reader.onload = function (evt) {
                var word = $('#word').val();
                var counter = 0;
                output.text("");
                result.text("");
                output.text(evt.target.result);
                text = evt.target.result;
                //As ashamed as I am to admit it, this is the easiest way that I KNOW of to get rid of these characters. Yes, I'm a loser.
                text = text.replace(/\//g, " ");
                text = text.replace(/\\/g, " ");
                text = text.replace(/--/g, " ");
                text = text.replace(/ -/g, " ");
                text = text.replace(/- /g, " ");
                text = text.replace("{", " ");
                text = text.replace("}", " ");
                text = text.replace("=", " ");
                text = text.replace("^", " ");
                text = text.replace("[", " ");
                text = text.replace("]", " ");
                text = text.replace("^", " ");
                text = text.replace(/[.,?#*&%$;<>"+:!,)_/(\s,]/g, " ");
                array = text.split(/\s+/);
                //This loop changes all of the strings in the collection array to have all lowercase characters
                for (var i = 0; i < array.length; i++) {
                    array[i] = array[i].toLowerCase();
                }
                //This loop and subsequent conditional statement find the given word in the array and count how many occurrences there are.
                for (var i = 0; i < array.length; i++) {
                    if(array[i] === word) {
                        counter += 1;
                    }
                }
                result.text(counter);
            };
            input.change(function (evt) {
                var file = evt.target.files[0];
                reader.readAsText(file);
            });
        });
    </script>
}