
@{
    ViewBag.Title = "WordFrequency";
}

<h2>WordFrequency</h2>

<h4>Directions:</h4>
<p>Write a function wordFreq() that displays a frequency listing of the words contained in a selected text
file. Order the words by frequency.</p>