
@{
    ViewBag.Title = "WordFind";
}

<h2>WordFind</h2>

<hh4>Directions:</hh4>
<p>Write a function findWord() that returns the total number of occurrences of a given word in a selected
text file (i.e. the number of occurrences of “Alice” in the first chapter of Alice in Wonderland).</p>
<input type="file" id="input" />
<input type="text" id="word" />
<div id="result"></div>
@section scripts {
    <script>
        $(function () {
            var input = $('#input');
            var word = $('#word');
            var output = $('#result');
            var reader = new FileReader();
            reader.onload = function (evt) {
                
            };
            input.change(function (evt) {
                var file = evt.target.files[0];
                reader.readAsText(file);
            });
        });
    </script>
}