
@{
    ViewBag.Title = "WordFrequency";
}

<h2>WordFrequency</h2>

<h4>Directions:</h4>
<p>Write a function wordFreq() that displays a frequency listing of the words contained in a selected text
file. Order the words by frequency.</p>
<input type="file" id="input" />
<div id="result"></div>
<div id="display"></div>
<table class="table-bordered table-striped" id="table">
    <thead>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody id="body">
    </tbody>
</table>
@*<table class="table-bordered table-striped" id="table2">
        <thead>
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody id="body">
            <tr>
                <td>When</td>  This looks kind of like what I am wanting to happen when I am dynamically creating the table
                <td>1</td>     in the javascript but for some reason I am ending up with an extra column at the beginning 
            </tr>              of my table, under the table header. When inspecting the elements in the dev tools while stepping
            <tr>               through the loop that creates the table, I can see that the extra column seems to be being created
                <td>a</td>     when I create a <tr> tag. I am creating a <tr> tag each time through the loop so that I will have
                <td>2</td>     something to append my <td> tags to (they contain the words and their frequencies when rendered).
            </tr>              I guess the issue is with creating that <tr> tag everytime through the loop but I don't see how to
        </tbody>               get around that right now. More diddling on it tomorrow(07/02/2015). Poop.
    </table>*@
@section scripts {
    <script>
        $(function () {
            var input = $('#input');
            var output = $('#display');
            var result = $('#result');
            var table = $('#table');
            var word = $('#word');
            var freq = $('#freq');
            var body = $('#body');
            var row = $('.row');
            var text = "";
            var array;
            dict = {};
            var listKeysValues = "";
            table.hide();
            var reader = new FileReader();
            reader.onload = function (evt) {
                output.text("");
                result.text("");
                output.text(evt.target.result);
                text = evt.target.result;
                text = text.replace(/\//g, " ");
                text = text.replace(/\\/g, " ");
                text = text.replace(/--/g, " ");
                text = text.replace(/ -/g, " ");
                text = text.replace(/- /g, " ");
                text = text.replace("{", " ");
                text = text.replace("}", " ");
                text = text.replace("=", " ");
                text = text.replace("^", " ");
                text = text.replace("[", " ");
                text = text.replace("]", " ");
                text = text.replace("^", " ");
                text = text.replace(/[.,?#*&%$;<>"+:!,)_/(\s,]/g, " ");
                array = text.split(/\s+/);

                for (var i = 0; i < array.length; i++) {

                    var elementFirst = array[i].charAt(0);

                    var elementLast = array[i].charAt(array[i].length - 1);

                    if (elementFirst === "'") {
                        array[i] = array[i].replace(elementFirst, "");
                    }
                    else if (elementLast === "'") {
                        array[i] = array[i].replace(elementLast, "");
                    }

                    array[i] = array[i].toLowerCase();

                    if (array[i] in dict) {
                        dict[array[i]] += 1;
                    }
                    else {
                        dict[array[i]] = 1;
                    }

                }

                array = sortProperties(dict);

                for (var i = 0; i < array.length; i++) {
                    var tr = $('<tr class="row"></tr>');
                    var td1 = $('<td></td>');
                    var td2 = $('<td></td>');
                    body.append(tr.append(td1.text(array[i][0])));
                    body.append(tr.append(td2.text(array[i][1])));
                }

                table.show();

            };

            input.change(function (evt) {
                var file = evt.target.files[0];
                reader.readAsText(file);
            });

        });


        function sortProperties(obj) {
            // convert object into array
            var sortable = [];
            for (var key in obj)
                if (obj.hasOwnProperty(key))
                    sortable.push([key, obj[key]]); // each item is an array in format [key, value]

            // sort items by value
            sortable.sort(function (a, b) {
                return a[1] - b[1]; // compare numbers
            });
            return sortable; // array in format [ [ key1, val1 ], [ key2, val2 ], ... ]
        }


    </script>
}